.App {
  text-align: center;
  background-color: #39386b;
  min-height: 100vh;
  height: 100%;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.logo-portada{
  height: 20vh;
}

.titulo-portada{
  font-size: 2rem;
  color:#F6F64B;
}

.portada {
  margin: 5vh;
}

.img-categorias {
  width: 100%;
}

.cart-icon {
  display: inline;
  position: absolute;
  right: 5%;
  top: 25%;
  color:#F6F64B;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}