.App {
  text-align: center;
  background-color: #39386b;
  height: 100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.cart-icon {
  display: inline;
  position: absolute;
  right: 5%;
  top: 25%;
  color:#F6F64B;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}